* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-decoration-line: none;
}
.parent {
  display: flex;
}
h1 {
  margin-left: 20%;
}
.child {
  margin: auto;
}

.image {
  display: flex;
}
